<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./parcels/head') %>
    <title>signin</title>
</head>
<body>
    <%- include('./parcels/nav') %>

    <div class= "container">
        <form class="row g-3" action="/signin" method="POST">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" name="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Password</label>
              <input type="password" name = "password" class="form-control" id="inputPassword4">
            </div>
           
            
            <div class="col-12">
              
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
          </form>
    </div>
    <%- include('./parcels/script') %>
</body>
</html>